* {
    font-family: 'Raleway', sans-serif !important;
}

body {
    background-color: #f5f5f5 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.logo {
    width: 170px;
}

.navbar-brand {
    padding: 5px 20px !important;
}

.navbar {
    min-height: 60px !important;
}

.navbar-default {
    border-radius: 0 !important;
}

.navbar-toggle {
    margin-top: 11px !important;
}

.app-panel {
    border-radius: 1px !important;
}

.panel {
    border: none !important;
}

.panel-default {
    border: 1px solid !important;
    border-color: #e8e8e8 !important;
    box-shadow: none !important;
}

.panel-list .panel-body {
    padding: 0 !important;
}

.panel-body {
    padding: 20px !important;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%) !important;
    background-repeat: repeat-x !important;
}

.btn-round-lg{
    border-radius: 22.5px !important;
}
.btn-round{
    border-radius: 17px !important;
}
.btn-round-sm{
    border-radius: 15px !important;
}
.btn-round-xs{
    border-radius: 11px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

.ui-datalist-data {
    padding-left: 0px;
    margin-bottom: 0px;
}

.ui-datalist-item {
    padding-left: 30px;
    height: 50px !important;
    width: 100% !important;
    list-style: none !important;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 1px solid #e3e3e3;
}

.ui-datalist-item:hover {
    background-color: #e3e3e3;
    border-left: 7px solid #378dff;
    padding-left: 23px;
    cursor: pointer;
}

.task-item-link {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
}

.task-item-link:hover {
    text-decoration: none !important;
}

.task-item-link:visited {
    text-decoration: none !important;
    outline: 0;
}

.modal-task-panel-title {
    border-radius: 1px;
    font-weight: bold;
}

.modal-task-panel-title .ui-panel-content, .modal-task-panel-description .ui-panel-content {
    margin: 10px;
}

.modal-task-panel-description {
    border-radius: 1px;
    min-height: 170px;
}

.modal-task-panel-title, .modal-task-panel-description {
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
}

.task-modal .ui-panel-titlebar {
    border-radius: 1px;
}

.task-modal .ui-widget-content {
    padding: 0;
}

.modal-task-panel-buttons {
    text-align: left;
}