<!--
  Generated template for the ReunioesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reuniões Disponíveis</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-spinner *ngIf="!carregado" color="primary" class="center" name="crescent"></ion-spinner>

  <ion-card class="click" color="primary" *ngFor="let reuniao of reunioes" (click)="registraNaReuniao(reuniao)">

    <ion-card-content>
      {{ reuniao.descricao }}
    </ion-card-content>

  </ion-card>

</ion-content>
